@import url(//db.onlinewebfonts.com/c/ce84c94c656759caafe1c408c8cdd90d?family=Pavement);
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;1,700&display=swap');


@font-face {font-family: "Pavement"; src: url("//db.onlinewebfonts.com/t/ce84c94c656759caafe1c408c8cdd90d.eot"); 
  src: url("//db.onlinewebfonts.com/t/ce84c94c656759caafe1c408c8cdd90d.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/ce84c94c656759caafe1c408c8cdd90d.woff2") 
  format("woff2"), url("//db.onlinewebfonts.com/t/ce84c94c656759caafe1c408c8cdd90d.woff") 
  format("woff"), url("//db.onlinewebfonts.com/t/ce84c94c656759caafe1c408c8cdd90d.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/ce84c94c656759caafe1c408c8cdd90d.svg#Pavement") format("svg"); }

  @font-face {
    font-family: "Turnpike";
    src: local("Turnpike"),
     url("./fonts/turnpike-webfont.ttf") format("truetype");
    font-weight: bold;
    }

  h1, h2, h3, .nav-link {
    font-family: "Turnpike", sans-serif;
    color:rgb(0,0,0);
    text-shadow: 2px 2px 2px rgb(146, 144, 144);
  }

  .nav-link {
    font-size: 2em;
  }

  .nav-item {
    color:rgb(42,49,86);
  }

  a{
    text-decoration: none;
  }

  a:hover {
    font-weight: bold;
  }

 h4, h5, h6, p {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
